@charset "utf-8";

:root {
    --cor01: #92e692;
    --cor02: #42c542;
    --cor03: #0f520f;
}

body {
    height: 96vh;
    background-image: url(imagens/pattern001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: ;
}

.quadrada {
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

#q1 {
    background-color: var(--cor01);
}

#q2 {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor03));
}

#q3 {
    background-image: url(imagens/pattern003.png);
}
